{% extends '_Layaout.html' %}

{% block title %}Formulario de Reserva{% endblock %}

{% block content %}

    <script src="https://js.stripe.com/v3/"></script>

<div class="container mt-4">
    <h1 class="text-center">Reservar {{ habitacion.nombre }}</h1>
    <!-- <form method="POST">  -->
    <form action="{% url 'checkout_session' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="habitacion_id" value="{{ habitacion.id }}">
        <input type="hidden" name="numero_de_habitacion" value="{{ numero_de_habitacion }}">
        <div class="mb-3">
            <label for="fecha_inicio" class="form-label">Fecha de Inicio</label>
            <input  class="form-control" id="fecha_inicio" name="fecha_inicio" value="{{ fecha_inicio }}" readonly required>
        </div>
        <div class="mb-3">
            <label for="fecha_final" class="form-label">Fecha Final</label>
            <input  class="form-control" id="fecha_final" name="fecha_final" value="{{ fecha_final }}" readonly required>
        </div>
        <div class="mb-3">
            <label for="numero_personas" class="form-label">Número de Personas</label>
            <input type="number" class="form-control" id="numero_personas" name="numero_personas" min="1" max="{{ habitacion.cupo }}" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Servicios Adicionales</label>
            <div>
                {% for servicio in servicios %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="servicio_{{ servicio.id }}" name="servicios" value="{{ servicio.id }}">
                        <label class="form-check-label" for="servicio_{{ servicio.id }}">
                            {{ servicio.nombre }} - ${{ servicio.precio }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- <button type="submit" class="btn btn-primary">Reservar</button> -->
        <button type="submit" class="btn btn-primary" id="checkout-button">Pagar con Stripe</button>
    </form>
    <a href="{% url 'lista_habitaciones2' fecha_inicio=fecha_inicio fecha_final=fecha_final %}"
           class="btn btn-secondary">Volver a Habitaciones</a>
</div>
{% endblock %}
