{% extends '_Layaout.html' %}

{% block title %}Lista de reservas - ReservaPlus{% endblock %}

{% block content %}

    <h1>Mis Reservas</h1>
    <div class="container mt-4">
        {% if reservas_info %}
            <div class="row">
                {% for info in reservas_info %}
                    <div class="col-md-12 mb-4">
                        <div class="card shadow-lg">
                            <div class="card-header text-white d-flex justify-content-between align-items-center"
                                 style="background: #57bdd3">
                                <div>
                                    <p class="card-text"><strong>Estado:</strong> {{ info.reserva.estado }}</p>
                                </div>
                                <div>
                                    <p class="card-text"><strong>Costo Total:</strong> ${{ info.reserva.costo }}</p>
                                    <p class="card-text"><strong>Número de habitación:</strong> {{ info.reserva.Numero_de_habitacion }}</p>
                                </div>
                            </div>
                            <div class="card-body row">
                                <div class="col-md-4">
                                    {% for habitacion in info.habitaciones %}
                                        <h5>Habitación: {{ habitacion.habitacion.habitacion.nombre }}</h5>
                                        <img src="{{ habitacion.habitacion.habitacion.slug }}"
                                             alt="Imagen de la Habitación" class="img-fluid mb-2">
                                        <p><strong>Precio:</strong> ${{ habitacion.habitacion.habitacion.precio }}</p>
                                        <p><strong>Cupo:</strong> {{ habitacion.habitacion.habitacion.cupo }} personas</p>
                                    {% endfor %}
                                </div>
                                <div class="col-md-8">
                                    <p><strong>Fecha de inicio:</strong> {{ info.reserva.fecha_inicio_reserva }}</p>
                                    <p><strong>Fecha de finalización:</strong> {{ info.reserva.fecha_final_reserva }}</p>

                                    {% if info.servicios %}
                                        <h6>Servicios Incluidos:</h6>
                                        <div class="row">
                                            {% for servicio_reserva in info.servicios %}
                                                <div class="col-md-6 mb-2">
                                                    <div class="service-box p-2 border rounded">
                                                        <p class="mb-1">
                                                            <strong>{{ servicio_reserva.servicio.nombre }}</strong></p>
                                                        <p>${{ servicio_reserva.servicio.precio }}</p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <p>No hay servicios adicionales.</p>
                                    {% endif %}
                                </div>
                            </div>
                            {% if info.reserva.estado == "pendiente" %}
                                <div class="card-footer d-flex justify-content-end">
                                    <a href="{% url 'cancelar_reserva' info.reserva.id %}" class="btn btn-outline-danger">
                                        Cancelar Reserva
                                    </a>
                                </div>
                            {% endif %}
                            {% if info.reserva.estado == "en curso" %}
                                <div class="card-footer d-flex justify-content-end">
                                    {% for habitacion in info.habitaciones %}
                                        {% if not habitacion.resena %}
                                            <a href="{% url 'crear_resena' info.usuario_id info.reserva.id habitacion.habitacion.id %}"
                                               class="btn btn-outline-success">
                                                Reseñar
                                            </a>
                                            {% else %}
                                            <a class="btn btn-outline-primary disabled">
                                                Reseña realizada
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No tienes reservas pendientes o en curso.</p>
        {% endif %}
    </div>

{% endblock %}
