{% extends '_Layaout.html' %}

{% block title %}Editar Servicio - Reservas Plus{% endblock %}

{% block content %}


    <h1>Editar Servicio: {{ servicio.nombre }}</h1>

    <div class="container">
        <div class="form-container">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3 form-group">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" value="{{ servicio.nombre }}"
                           required>
                </div>

                <div class="mb-3 form-group">
                    <label for="descripcion" class="form-label">Descripción:</label>
                    <textarea class="form-control" id="descripcion" name="descripcion"
                              required>{{ servicio.descripcion }}</textarea>
                </div>

                <div class="mb-3 form-group">
                    <label for="precio" class="form-label">Precio:</label> <!-- Nuevo campo para precio -->
                    <input type="number" class="form-control" id="precio" name="precio" step="0.01" min="0"
                           value="{{ servicio.precio }}" required>
                </div>

                <div class="form-check mb-3">
                    <label for="disponibilidad" class="form-check-label">Disponibilidad</label>
                    <input type="checkbox" class="form-check-input" id="disponibilidad" name="disponibilidad"
                           {% if servicio.disponibilidad %}checked{% endif %}>
                </div>

                <div class="mb-3 text-center">
                    <label for="imagen">Imagen Actual:</label><br>
                    <img id="imagen-actual" src="{{ servicio.slug }}" alt="{{ servicio.nombre }}"
                         class="img-fluid rounded" style="max-width: 200px; height: 125px;"><br>
                </div>

                <div class="mb-3 form-group">
                    <label for="imagen" class="form-label">Subir Nueva Imagen:</label>
                    <input type="file" class="form-control" id="imagen" name="imagen"
                           accept="image/png,image/gif,image/jpeg">
                </div>

                <div class="mb-3 form-group">
                    <div class="text-center d-none" id="preview-imagen-container">
                        <label for="imagen" id="preview-imagen-text" class="d-none">Vista previa:</label><br>
                        <img id="preview-imagen" src="#" alt="Vista previa de la nueva imagen"
                             class="img-fluid rounded d-none" style="max-width: 200px; height: 125px;">
                    </div>
                    <br id="br-imgPrevio" class="d-none">
                </div>

                <div class="mb-3 form-group">
                    <button type="submit" class="btn btn-primary w-100">Actualizar Servicio</button>
                </div>
            </form>
        </div>
    </div>


    <script>
        document.getElementById('imagen').addEventListener('change', function (event) {
            const input = event.target;
            const preview = document.getElementById('preview-imagen');
            const previewText = document.getElementById('preview-imagen-text');
            const previewCont = document.getElementById('preview-imagen-container');
            const brimgPrevio = document.getElementById('br-imgPrevio')

            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.classList.remove('d-none');
                    previewText.classList.remove('d-none');
                    previewCont.classList.remove('d-none');
                    brimgPrevio.classList.remove('d-none')
                }

                reader.readAsDataURL(input.files[0]);
            } else {
                preview.src = '#';
                preview.classList.add('d-none');
                previewText.classList.add('d-none');
                previewCont.classList.add('d-none');
                brimgPrevio.classList.add('d-none')
            }
        });
    </script>
{% endblock %}

