{% extends '_Layaout.html' %}

{% block title %}Eliminar Habitación - Reservas Plus{% endblock %}

{% block content %}


<h1 class="h1Danger">Eliminar Servicio: {{ servicio.nombre }}</h1>

<div class="container">
    <div class="form-container" style="text-align: center;">
        <p>¿Estás seguro de que deseas eliminar este servicio?</p>
        <form method="POST">
            {% csrf_token %}
            <a href="{% url 'listar_servicios' %}" class="btn btn-primary">Cancelar</a>
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
    </div>
</div>

{% endblock %}