{% extends '_Layaout.html' %}

{% block title %}Eliminar Habitación - Reservas Plus{% endblock %}

{% block content %}


<h1 class="h1Danger">Eliminar Habitación</h1>

<div class="container">
    <div class="form-container" style="text-align: center;">
        <p>¿Estás seguro que deseas eliminar: <strong>"{{ habitacion.nombre }}"</strong>?</p>

        <form method="post">
            {% csrf_token %}
             <a href="{% url 'lista_habitaciones' %}" class="btn btn-primary">Cancelar</a>
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
    </div>
</div>
{% endblock %}