{% extends '_Layaout.html' %}

{% block title %}Eliminar Habitación - Reservas Plus{% endblock %}

{% block content %}


<h1>Eliminar Habitación</h1>

<div class="container">
    <div class="form-container">
        <p>¿Estás seguro que deseas eliminar la habitación: <strong>"{{ habitacion.nombre }}"</strong>?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'lista_habitaciones' %}" class="btn btn-link">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}