{% extends '_Layaout.html'%}

{% block title %}ReservaPlus - Your Ideal Hotel Experience{% endblock %}

{% block content %}


<section class="hero">
    <div class="hero-content">
        <h2>Bienvenido a ReservaPlus</h2>
        <p>Experimenta comodidad, conveniencia y un servicio excepcional</p>
        <a href="#book" class="cta-button">Reservar Ahora</a>
    </div>
</section>

<section class="features">
    <div class="feature">
        <h3>Habitaciones Confortables</h3>
        <p>Disfruta de nuestras amplias y bien equipadas habitaciones diseñadas para tu relajación.</p>
    </div>
    <div class="feature">
        <h3>Deliciosa Gastronomía</h3>
        <p>Saborea una variedad de delicias culinarias en nuestros restaurantes y cafeterías.</p>
    </div>
    <div class="feature">
        <h3>Ubicación Privilegiada</h3>
        <p>Convenientemente ubicado cerca de las principales atracciones y centros de negocios.</p>
    </div>
</section>
{% endblock %}