{% extends '_Layaout.html' %}



{% block title %}Lista de detalles de Habitaciones - Reservas Plus{% endblock %}

{% block content %}



    <div class="container-fluid mt-4">
        <h1>Lista de Detalle Habitaciones</h1>

        <div class="d-flex justify-content-end mb-3">
            <a href="{% url 'agregar_detalle_habitacion' %}" class="btn btn-primary">
                <i class="fas fa-plus-circle"></i> Agregar Detalle
            </a>
        </div>

        <div class="p-4 border rounded bg-light shadow-sm table-responsive">
            <table id="detalle-habitaciones-table" class="table table-hover table-bordered table-responsive">
                <thead class="table-dark">
                <tr class="text-center">
                    <th>Habitación</th>
                    <th>Ubicación</th>
                    <th>Ventanas</th>
                    <th>Camas</th>
                    <th>Núm. de camas</th>
                    <th>Núm. de habitación</th> <!-- Nueva columna -->
                    <!-- Nueva columna -->
                    <th>A/C</th>
                    <th>Jacuzzi</th>
                    <th>Disponibilidad</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for detalle in detalles %}
                    <tr class="text-center">
                        <td>{{ detalle.habitacion.nombre }}</td>
                        <td>{{ detalle.ubicacion }}</td>
                        <td>{{ detalle.ventanas }}</td>
                        <td>{{ detalle.camas }}</td>
                        <td>{{ detalle.numero_de_camas }}</td>
                        <td>{{ detalle.Numero_de_habitacion }}</td> <!-- Nueva celda -->

                        {% if detalle.aire_acondicionado %}
                            <td>Si</td>
                        {% else %}
                            <td>No</td>
                        {% endif %}
                        {% if detalle.jacuzzi %}
                            <td>Si</td>
                        {% else %}
                            <td>No</td>
                        {% endif %}
                        <td>{{ detalle.disponibilidad }}</td>
                        <td>
                            <div class="text-center">
                                <a href="{% url 'editar_detalle_habitacion' detalle.id %}"
                                   class="btn btn-sm btn-warning"><i class="fas fa-edit"></i> Editar</a>
                                <a href="{% url 'eliminar_detalle_habitacion' detalle.id %}"
                                   class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i> Eliminar</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block extra_scripts %}
    <!-- Inicializar DataTables -->
    <script>
        $(document).ready(function () {
            $('#detalle-habitaciones-table').DataTable({
                "language": {
                    "decimal": ",",
                    "thousands": ".",
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                "responsive": true,
                "autoWidth": true
            });
        });
    </script>
{% endblock %}