{% extends '_Layaout.html'%}

{% block title %}ReservaPlus - Your Ideal Hotel Experience{% endblock %}

{% block content %}

<div class="container mt-4">
    <h2>Servicios Disponibles</h2>
    <div class="row">
        {% for servicio in servicios %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ servicio.slug }}" class="card-img-top" alt="{{ servicio.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ servicio.nombre }}</h5>
                    <p class="card-text">{{ servicio.descripcion }}</p>
                    {% if servicio.disponibilidad %}
                    <p class="text-success">Disponible</p>
                    {% else %}
                    <p class="text-danger">No disponible</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}