{% extends '../../ReservaPlus/Template-Padre/_Layaout.html' %}

{% block title %}Eliminar Habitación - Reservas Plus{% endblock %}

{% block content %}
<style>
    h1 {
        color: #FD6B20;
        text-align: center;
        margin-top: 20px;
    }
    .form-container {
        background-color: #fff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 50px auto;
        max-width: 500px;
        text-align: center;
    }
    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
    }
    .btn-link {
        color: var(--primary-color);
    }
</style>

<h1>Eliminar Habitación</h1>

<div class="container">
    <div class="form-container">
        <p>¿Estás seguro que deseas eliminar la habitación: <strong>"{{ habitacion.nombre }}"</strong>?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'lista_habitaciones' %}" class="btn btn-link">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}