{% extends '_Layaout.html' %}

{% block title %}Registro - Reservas Plus{% endblock %}

{% block content %}

<div class="form-container form-register">
    <div class="text-center mb-4">
        <img src="https://i.postimg.cc/Y2N3rsQ9/35a3db64-cf1a-4ac3-89e5-d5f9e84a6c67.jpg" alt="Reservas Plus Logo" class="login-logo">
    </div>

    <h2 class="text-center mb-4">Regístrate</h2>

    <form method="POST">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstname" class="form-label">Nombre</label>
                {{ form.first_name }}
            </div>

            <div class="col-md-6 mb-3">
                <label for="lastname" class="form-label">Apellido</label>
                {{ form.last_name }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="username" class="form-label">Nombre de Usuario</label>
                {{ form.username }}
            </div>

            <div class="col-md-6 mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                {{ form.email }}
            </div>
        </div>


        <div class="form-group mb-4">
            <label for="id_password1" class="form-label">Contraseña</label>
            <div class="input-group">
                {{ form.password1 }}
                <span class="input-group-text">
                    <i class="fas fa-eye" id="togglePassword1" style="cursor: pointer;"></i>
                </span>
            </div>
        </div>


         <div class="form-group mb-4">
            <label for="id_password2" class="form-label">Confirmar Contraseña</label>
            <div class="input-group">
                {{ form.password2 }}
                <span class="input-group-text">
                    <i class="fas fa-eye" id="togglePassword2" style="cursor: pointer;"></i>
                </span>
            </div>
        </div>

        <small class="form-text text-muted">
            La contraseña debe cumplir con los siguientes criterios:
            <ul>
                <li>Mínimo 8 caracteres</li>
                <li>Al menos una letra mayúscula</li>
                <li>Al menos un número</li>
                <li>Al menos un carácter especial (como @, #, $)</li>
            </ul>
        </small>

        <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
        </div>
    </form>

    <p class="text-center mt-3">¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a></p>

    {% if messages %}
        <div class="alert alert-info mt-3">
            <ul class="mb-0">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>

{% endblock %}

